/*首页中部*/
*{margin: 0;padding: 0;border: 0;font-family: 微软雅黑;}
.respongsive-img{
	width: 100%;
}
section{
	width: 100%;
	height:0 auto;
	overflow: hidden;
}
.ad{
    background: #dbc7ba;
    padding: 27px 0;
    margin-top: 10px;
    width: 100%;
    margin:0 auto;
}
ul{
	list-style: none;
}
.ad-center{
	width: 985px;
	height: 150px;
	margin: 0 auto;
	background:#fff; 
	padding-left: 15px;
}
.ad-center li a{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	float: left;
}
.ad-center img{
	margin-top:10px; 
}
.ad-center img:hover{
	opacity:0.65;
}
.bigfurture{.
	width: 100%;
	height: 287px;
	background: white;
	z-index: 2;
}
.furture{
	width:1000px;
	height: 287px;
	margin: 0 auto;
	
}
.furture-top img.left{
	padding-left: 150px;
	padding-top: 20px;
}
.furture-top img.right{
	padding-left: 300px;
	padding-top: 20px;
}
.furture-top{
	overflow: hidden;
    border-bottom: 2px solid #606060;
    padding-bottom: 12px;
}
.furture-left{
	border-right: 1px solid #606060;
    width: 499px;
    float: left;
}
.furture-left p,.furture-right p{
	text-align: center;
	font-size: 12px;
    color: #797979;
    line-height: 40px;
}
.furture-left p span,.furture-right p span{
	color: #c57d5c;
}
.furture-left p a,.furture-right p a{
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
    color: #797979;
    vertical-align: middle;
}
.furture-left p a:hover,.furture-right p a:hover{
	color:#c57d5c;
}
.furture-left p a img,.furture-right p a img{
	text-decoration: none;
	vertical-align: middle;
}
.furture-right{
    width: 500px;
    float: right;
}
.element{
	width: 100%;
	height: 0 auto;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.element-bigbg{
	position: absolute;
    top:0px;
    z-index: -4;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
}
.fixed{
	position: fixed;
    bottom: 0;
    top: auto;
}
.fixed img {
    border: 0 none;
    vertical-align: middle;
}
.element-bg{
	width:1000px;
	height: 69px;
	background: url('../images/sbg1.jpg') repeat-x;
	overflow: hidden;
	z-index: -4;
	margin: 0 auto;
	padding-top: 20px;
	margin-top:36px;
}
.element img{
	position: absolute;
    left: 140px;
    top: 0px;
}
.element-store{
	border: 3px solid #dbc7ba;
	width: 994px;
    background: #fff;
    height: 684px;
    margin: 0 auto;
}
.element-store ul{
	list-style: none;
	height: 18px;
    margin-top: 52px;
    margin-bottom: 20px;
    position: relative;
    color: #606060;
}
.element-store ul li{
	width: 80px;
    margin-left: 46px;
    text-align: center;
	float: left;
	cursor: pointer;
}
.element-store ul li:hover{
	color:#c57d5c;
}
.store-box:hover{
	transform: translate(100px);
}
.store-line{
	background: #999;
	height: 1px;
	width: 922px;
	margin: 0 auto;
	position: relative;
	margin-bottom:40px;
}
.store-box{	
	position: absolute;
    left: 0px;
    top: -7px;
    width: 14px;
    height: 14px;
    background: url('../images/lright.jpg') no-repeat;
    z-index: 2;
    transform: translate(0px);
}
.element-store ul li.two:hover.store-box{
	left: 20px;
}
.picture1{	
	border:10px solid #ddd;
    width: 880px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.element .picture1 img{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	left:0px;
}
.touming{
	position: absolute;
	background:rgba(43,42,45,0.3);
    width: 328px;
    height: 254px;
    top:300px;
    left: 270px;
}
.touming h2{
	color:#fff;
	margin-top:30px;
	margin-left: 30px;
}
.touming p{
	color:#ddd;
	font-size: 12px;
	font-family: 微软雅黑;
	width: 250px;
	margin-top:16px;
	margin-left: 30px;
	line-height: 20px;
}
.touming a{
	text-decoration: none;
	background: #4d4b4f;
    color: #ccc;
    font-size: 14px;
    width: 148px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
    display: block;
	margin-top:20px;
}
.element-bg2,.element-bg3{
	width: 1000px;
	margin: 0 auto; 
	text-align: center;
    background: #dbc7ba;
    height: 106px;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
}
.element-bg2 a img.hua,.element-bg3 a img.hua{
	position: absolute;
	top:-25px;
	left:400px;
}
.element-bg2 img.word{
	position: absolute;
	top:150px;
	left:410px;
}
.element-bg3 img.word{
	position: absolute;
	top:150px;
	left:390px;
}
.element-bg2 a.more,.element-bg3 a.more{
	position: absolute;
	display: inline-block;
	width: 106px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	color:#999;
	bottom: -64px;
	right: 20px;
	text-decoration: none;
	border:1px solid #999;
	font-size: 14px;
}
.element-bg2 a.more:hover,.element-bg3 a.more:hover{
	color:#dbc7ba;
	border-color:#dbc7ba;
}
.element-pic2{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.element-pic2-center{
	width: 1000px;
	margin: 0 auto;
}
.element-pic2-left-top{
	width: 53%;
	float: left;
	margin-top: 20px;
}
.element-pic2-right-top{
	width:43%;
	float: right;
	margin-top: 23px;
}
.element-pic2-right-top-1{
	width:100%;
	float: right;
}
.element-pic2-right-top-1 img,.element-pic2-right-top-2 img{
	width:100%;
	height: 100%;
	overflow: hidden;
}
.element-pic2-right-top-2{
	width: 100%;
	float: right;
	margin-top: 35px;
}

.element-pic2-left-bottom{
	width:43%;
	float: left;
	margin-top: 25px;
}
.element-pic2-left-bottom-1{
	width:100%;
	float: left;
}
.element-pic2-left-bottom-1 img,.element-pic-left-bottom-2 img{
	width:100%;
	height: 100%;
	overflow: hidden;
}
.element-pic2-left-bottom-2{
	width: 100%;
	float: left;
	margin-top: 35px;
}
.element-pic2-right-bottom{
	width: 53%;
	float: right;
	margin-top: 25px;
}

.element-pic3{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.element-pic3 ul{
	width: 1000px;
	margin:0 auto;
}
.element-pic3 ul li.left{
	width: 48%;
	height:48%;
	float: left;
	margin-top: 20px;
}
.element-pic3 ul li.right{
	width: 48%;
	height:48%;
	float: right;
	margin-top: 20px;
}
.element-foot{
	width: 100%;
	height: 0 auto;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.element-foot-bg{
	width:1000px;
	height: 69px;
	background: url('../images/sbg1.jpg') repeat-x;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 20px;
	margin-top:36px;
}
.element-foot img{
	position: absolute;
    left: 140px;
    top: 0px;
}
.element-foot-threephoto{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.element-foot-threephoto ul{
	width: 1000px;
	height: 450px;
	margin: 0 auto;
	position: relative;
}
.element-foot-threephoto ul li{
	width: 320px;
	height: 410px;
	float: left;
	position: relative;
	margin-right: 20px;
	/*20px的空隙*/
}
.element-foot-threephoto ul li img{
	position: absolute;
	top:0px;
	left:0px;
}
.element-foot-threephoto a.more{
	position: absolute;
	display: inline-block;
	width: 130px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	color:#999;
	bottom: 0px;
	right: 195px;
	text-decoration: none;
	border:1px solid #999;
	font-size: 14px;
	z-index: 2;
}
.element-foot-threephoto a.more:hover{
	color:#dbc7ba;
	border-color:#dbc7ba;
}
