
/*公共页上部和下部*/

*{margin:0;padding:0;border:0; font-family: 微软雅黑;}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
}
.headercenter1{
	position: absolute;
	top:0px;
	left:0px;
	background: #fff;
	z-index: -1;
	width: 100%;
	height:168px;
}
.headercenter{
	width:1000px;
	height:168px;
	margin:0 auto;
	position:relative;
}
.header-left{
	width:141px;
	height:120px;
	background:url('../images/drlogo.png');
	position:absolute;
	top:32px;
	left:0px;
}
.header-right{
	width:580px;
	height:120px;
	position:absolute;
	top:32px;
	right:0px;
}
.header-right-top{
	width:580px;
	height:40px;
}
.header-right-top ul{
	height:40px;
	font-size:12px;
	list-style:none;
	float:left;
}
.header-right-top ul li{
	line-height:30px;
	float:left;
}
.header-right-top ul li a{
	padding-left:15px;
	padding-right:10px;
	text-decoration:none;
	color:#999;
	display:inline-block;
}
.join{
	background:#d9b39b;
	color:#fff;
}
.tel{
	padding-left:35px;
	background:url('../images/telleft.png') no-repeat;
	background-position:15px 8px;
}
.phone{
	padding-left:35px;
	background:url('../images/03.png') no-repeat;
	background-position:20px 8px;
}
.phone:hover{
	color:#d9b39b;
}
.phone:hover .app{
	display:block;
}
.app{
	position:absolute;
	top:32px;
	left:200px;
	display:none;
	z-index:2;
}
.word{
	padding-left:25px;
	padding-right:20px;
	background:url('../images/09.png') no-repeat;
	background-position:96px 12px;
}
.word1{
	width:50px;
	height:30px;
	position:absolute;
	top:50px;
	left:23px;
	display:none;
}
.word1 ul {
    color: #000;
    width: 75px;
	position:absolute;
	top:-22px;
	left:310px;
}
.word1 li {
    list-style: none;
    text-align: center;
    height: 20px;
	color:#666;
}
.word a:hover .word1{
	display:block;
}
.header-right-top ul li.city{
	z-index: 3;
}
.city p{
	display: inline-block;
	padding-left:15px;
	transform:translate(0px,0px);
	position: relative;
	z-index: 3;
}
.city .allcity{
	position:absolute;
	width: 300px;
	height:120px;
	background: #fff;
	border:1px solid #d9b39b;
	top:30px;
	right:-1px;
	display: none;
}
.city .allcity a{
	color:#999;
	text-decoration: none;
	font-size: 12px;
}
.city .allcity a:hover{
	color:#dbc7ba;
}
.city:hover{
	cursor: pointer;
	border:1px solid #d9b39b;
	border-bottom: none;
	transform:translate(-1px,-1px);
}
.city:hover .allcity{
	display: block;
}
.city:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 1;
}
.header-right-bottom{
	width:580px;
	height:80px;
	background:url('../images/drz.png') no-repeat;
	background-position:150px 20px;
	position:relative;
	margin-top: 10px;
	z-index: -1;
}
.header-right-bottom p{
	display:inline-block;
	position:absolute;
	font-size:14px;
	bottom:12px;
	left:135px;
	padding-right:15px;
	background:url('../images/09.png') no-repeat;
	background-position:60px 6px;
}
.header-right-bottom input{
	border:1px solid #999;
	width:200px;
	height:20px;
	position:absolute;
	bottom:8px;
	left:212px;
	outline:none;
}
.header-right-bottom a{
	border:1px solid #999;
	width:80px;
	height:20px;
	line-height:20px;
	text-align:center;
	position:absolute;
	text-decoration:none;
	font-size:12px;
	bottom:8px;
	left:430px;
	color: #333;
}
.header-right-bottom a:hover{
	background:#eee;
}



	nav{
		height:60px;
		background:url('../images/nav_rp.jpg');
		repeat-x;
	}

	nav ul{
		width:1000px;
		margin:0 auto;
		list-style:none;
		position: relative;
		height: 60px;
		line-height: 60px;
		z-index: 5;
	}
	nav ul li{
		float: left;
		width: 126px;
		text-align: center;
	}
	nav ul li a{
		font-family:Î¢ÈíÑÅºÚ;
		color: #fff;
		font-size: 16px;
		display: block;
		text-decoration:none;
	}
	nav ul li a:hover{
		color:#dbc7ba;
	}
	.drnav{
		margin-left:28px;
	}
	.drnav:hover .drnavh{
		display:block;
	}
	.drnavh,.ppwhnavh,.sqnavh{
		position:absolute;
		width:1000px;
		height:260px;
		background:#fff;
		z-index:2;
		display:none;
	}
	.drnavh-left,.ppwhnavh-left,.sqnavh-left{
		padding-top: 30px;
		text-align: center;
		width: 498px;
		height: 230px;
		background:url('../images/subNav_line.png') no-repeat;
		background-position: 493px 24px;
		float:left;
	}
	.drnavh-left a,.ppwhnavh-left a,.sqnavh-left a{
		background:url('../images/black_icon.png') no-repeat;
		background-position: 296px 16px;
		color:#000;
		font-size:14px;
		display:inline-block;
	}
	.drnavh-right,.ppwhnavh-right,.sqnavh-right{
		padding-top: 30px;
		text-align: center;
		width: 498px;
		height: 230px;
		float:left;
	}
	.drnavh-right a,.ppwhnavh-right a,.sqnavh-right a{
		color:#000;
		font-size:14px;
		display:inline-block;
	}
	.qhzjnavh,.adlwnavh,.ppwhnavh,.sqnavh{
		position:absolute;
		width:1000px;
		height:260px;
		background:#fff;
		z-index:2;
		left:28px;
		display:none;
	}
	.qhzjnavh-left,.qhzjnavh-right,.adlwnavh-left,.adlwnavh-right{
		padding-top: 30px;
		text-align: center;
		width: 498px;
		height: 230px;
		float:left;
	}
	.qhzjnavh-left img,.qhzjnavh-right img,.adlwnavh-left img,.adlwnavh-right img{
		width: 200px;
		height: 200px;
		vertical-align:middle;
		float:left;
	}
	.qhzjnavh-left-word,.qhzjnavh-right-word,.adlwnavh-left-word,.adlwnavh-right-word{
	    padding: 0 30px;
		margin-top: 12px;
		float:left;
		display:inline-block;
	}
	.qhzjnavh-left-word a,.qhzjnavh-right-word a,.adlwnavh-left-word a,.adlwnavh-right-word a{
		display: block;
		font-size: 14px;
		color: #5e5e61;
		width: 190px;
		text-align: center;
		height: 42px;
		line-height: 42px;
		border-bottom: 1px solid #dbdbdb;
	}

	.qhzjnav:hover .qhzjnavh{
		display:block;
	}
	.adlwnav:hover .adlwnavh{
		display:block;
	}
	.ppwhnav:hover .ppwhnavh{
		display:block;
	}
	.sqnav:hover .sqnavh{
		display:block;
	}
	#index-banner{
		position: relative;
		top:0;
		width: 100%;
		height: 400px;
		overflow: hidden;
	}
	#index-banner img{
		position: absolute;
		top:0;
		left: 50%;
		margin-left: -960px;
	}

	/*公共上部分结束*/
	/*公共下部分开始*/
	footer{
		width:100%;
		height:auto;
		overflow: hidden;
		margin-top: 150px;
	}
	.footer-top{
		height:34px;
		width:100%;
		background: url('../images/footer_rp.jpg');
	}
	.footer-bigicon{
		width: 100%;
		background: #fff;
	}
	.footer-icon{
		width:1000px;
		height:150px;
		margin:0 auto;
		text-align: center;
		overflow: hidden;
	}
	.footer-icon ul{
		list-style:none;
	}
	.footer-icon ul li{
		float: left;
	    width: 80px;
	    height:150px;
	    text-align: center;
	    margin: 0 31px;
	}
	.footer-icon ul li a{
		display: inline-block;
		width:80px;
		height:90px;
		color: #666;
   		font-size: 14px;
   		margin-top: 30px;
		text-decoration: none;
		cursor: auto;
	}
	.footer-icon ul li a i{
		display:inline-block;
		width: 60px;
		height: 60px;
	}
	.footer-icon ul li a span{
		display:inline-block;
		margin-top: 10px;
		font-size: 14px;
		color:#666;
	}
	.footer-icon ul li a i.one{
		background: url('../images/icon_footer.png') no-repeat;
	}
	.footer-icon ul li a i.one:hover{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: 0px -60px;
	}
	.footer-icon ul li a i.two{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -60px 0px;
	}
	.footer-icon ul li a i.two:hover{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -60px -60px;
	}
	.footer-icon ul li a i.three{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -120px 0px;
	}
	.footer-icon ul li a i.three:hover{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -120px -60px;
	}
	.footer-icon ul li a i.four{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -180px 0px;
	}
	.footer-icon ul li a i.four:hover{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -180px -60px;
	}
	.footer-icon ul li a i.five{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -240px 0px;
	}
	.footer-icon ul li a i.five:hover{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -240px -60px;
	}
	.footer-icon ul li a i.six{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -300px 0px;
	}
	.footer-icon ul li a i.six:hover{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -300px -60px;
	}
	.footer-icon ul li a i.seven{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -360px 0px;
	}
	.footer-icon ul li a i.seven:hover{
		background: url('../images/icon_footer.png') no-repeat;
		background-position: -360px -60px;
	}
	.footer-gray{
		width:100%;
		height:66px;
		padding-top:27px;
		background: #e9e9e9;
		margin: 0 auto;
	}
	.footer-gray-word{
		width: 1000px;
		height:39px;
		margin: 0 auto;
	}
	.footer-gray-word-left{
		width: 800px;
		height: 39px;
		float:left;
	}
	.footer-gray-word-left a{
		text-decoration: none;
		display: inline-block;
		height: 39px;
		width: 141px;
		padding-left: 44px;
	    line-height: 39px;
	    color: #797979;
	    font-size: 20px;
	    background: url('../images/coin_left.png') no-repeat;
	}
	.footer-gray-word-left a.four{
		margin-left: 34px;
	}
	.footer-gray-word-right p{
		font-size: 14px;
		margin-bottom: 6px;
		color:#797979;
	}

	.footer-black{
		width: 100%;
		height:0 auto;
		background: #797979;
		padding-top: 56px;
		margin: 0 auto;
	}
	.footer-black-center{
		width: 1000px;
		height:242px;
		margin: 0 auto;
	}
	.footer-black-center ul{
		list-style: none;
	}
	.footer-black-center-servie{
	    overflow: hidden;
	    font-family: "SimSun";
	    font-size: 14px;
	    color: #cdcdcd;
	    line-height: 22px;
	}
	.footer-black-center-servie li{
	    float: left;
	    border-left: 2px solid #959292;
	    padding: 6px 50px;
	}
	.footer-black-center-servie li.noborder{
		border:none;
	}
	.footer-black-center-servie h4{
		font-weight: bold;
	    color: #cdcdcd;
	    font-size: 14px;
	}
	.footer-black-center-servie a{
		color: #cdcdcd;
		text-decoration: none;
   		display: block;
	}
	.footer-black-center-statement{	
		text-align: center;
	    font-size: 12px;
	    color: #c9c7c7;
	    line-height: 20px;
	    margin-top:67px;
	}
	.footer-black-center-langues{
		font-family: "SimSun";
	    text-align: center;
	    font-size: 14px;
	    font-weight: bold;
	    margin-top: 20px;
	}
	.footer-black-center-langues a{
		text-decoration: none;
		color: #c9c7c7;
	}
	.footer-black-center-friend{
		background: #797979;
    	margin-top: 50px;
	}
	.footer-black-center-friendshare{
		width:1000px;
	    margin: 0 auto;
	    text-align: center;
	    margin-top: 8px;
	    padding-bottom: 40px;
	}
	.footer-black-center-friendshare a{
		text-decoration: none;
		color: #999898;
	    font-size: 12px;
	    padding-left: 7px;
	}
	.footer-black-center-friendshare span{
		color: #999898;
	    font-size: 12px;
	}

	/*公共下部分结束*/
/*公共部分结束*/
	